<!DOCTYPE html>
<html ng-app="myFirstApp">
    <head>
        <script src="./angular.min.js"></script>
        <script src="./App.js"></script>
    </head>
    <body ng-controller="myFirstController">
        <div>
          <h2>My name is  : {{name | uppercase}}</h2>
          <h3>My name is  : {{Bname}}</h3>
          <h3>to make my brother name all in uppercase click the button</h3>
          <button ng-click="BUCname()">Upper Case !</button>
          <h2>To find my age please press the button below</h2>
          <button ng-click="age()">Age finder !</button>
          <h2>{{myAge}}</h2>
          <h2>here is a picture of a jaguar xf</h2>
          <img ng-src="./Assets/{{Cpic}}.jpg">
          <h2>To change the picture of the car press the button below</h2>
          <button ng-click="CPChanger()">Picture Chnager !</button>
        </div>
    </body>
</html>